
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  color: #f0efef;
  background: url("../header_bg.jpg") no-repeat center top rgb(134,141,157);
  background-size: cover;
}

#container {
  width: 100%;
  margin: auto;
  height: 500px;
}
