
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  max-width: 1200px;
}

header  {
  background-image: url("../images/header_bg.jpg");
  height: 500px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

  .header {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 48px;
    padding-left: 50px;
    padding-top: 30px;
    color: white;
  }

  .header2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 50px;
  }

  .button1 {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #f9e42e;
    color: #033048;
    display: block;
    padding: 10px 50px;
    margin-top: 50px;
  }
