
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background-image: url("../images/header_bg.jpg");
  position: absolute;
  width: 100%;
  height: 600px;
  top: -10px;

}

.benefits {
  position: absolute;
  top: 550px;
  height: 400px;
  background-color: #f0efef;
}



#container {
  width: 100%;
  margin: auto;
  height: 500px;
}
